<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.employee.donations.mapper.DonationMapper">

    <insert id="addDonation">
        INSERT INTO DONATIONS (NAME,
                               LASTNAME,
                               DNI,
                               DATE_BIRTH dateBirth,
                               GENDER,
                               MOBILE,
                               PHONE,
                               ADDRESS,
                               CITY,
                               PROVINCE,
                               AMOUNT,
                               CARD_NUMBER cardNumber,
                               CARDHOLDER,
                               DNI_CARDHOLDER dniCardholder,
                               EXPIRATION_DATE expirationdate,
                               OBSERVATION,
                               ID_TYPE_PAY idTypePay,
                               ID_EMPLOYEE_TEAM idEmployeeTeam,
                               ID_CAMPAIGN idCampaign,
                               CREATE_DATE)
        VALUES (#{request.name},
                #{request.lastName},
                #{request.dni},
                #{request.dateBirth},
                #{request.gender},
                #{request.mobile},
                #{request.phone},
                #{request.address},
                #{request.city},
                #{request.province},
                #{request.amount},
                #{request.cardNumber},
                #{request.cardholder},
                #{request.dniCardholder},
                #{request.expirateDate},
                #{request.observation},
                #{request.payType},
                #{request.idEmployee},
                #{request.idCampaign},
                SYSDATE);
    </insert>

</mapper>